openapi: 3.2.0
info:
  title: Magic Eden Collections API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://magiceden.io/terms-of-service.pdf
  version: '1.0'
  description: 'Operations tagged Collections across 3 of this provider''s published API definitions: magic-eden-evm-openapi.yml, magic-eden-ordinals-openapi.yml, magic-eden-solana-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-mainnet.magiceden.dev/v4/evm-public
- url: https://api-mainnet.magiceden.dev/v2
- url: https://api-devnet.magiceden.dev/v2
tags:
- name: Collections
paths:
  /collections:
    post:
      summary: Collections
      operationId: getCollections
      description: Use this API to explore a collection's metadata and statistics (sales, volume, etc).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getCollectionsRequest'
      tags:
      - Collections
      responses:
        '200':
          description: Successful
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/getCollectionsResponse'
      x-order: 1
    get:
      deprecated: false
      summary: Get collections
      security: []
      responses:
        '200':
          description: success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ICollectionV2'
              example:
              - symbol: trippinshrooms
                name: Trippin Shrooms
                description: 'A collection of 555 NFTs spreading some love across the Solana blockchain.


                  No roadmap, no promises just awesome vibes!'
                image: https://arweave.net/PO6QTMV1xuQjWPCgZFe7wSuVtmtNGiK3zRM4jsEL4ao
                twitter: https://www.twitter.com/Trippin_Shrooms
                discord: https://www.discord.gg/zPqyBpRNXd
                categories:
                - pfps
                - art
              - symbol: shadow_lords
                name: Shadow Lords
                description: When darkness falls, Shadow Lords reign supreme.
                image: https://creator-hub-prod.s3.us-east-2.amazonaws.com/shadow_lords_pfp_1656315133604.gif
                twitter: https://www.twitter.com/ShadowLordsNFT
                discord: https://www.discord.gg/9JNJWYBGBu
                website: ''
                categories:
                - pfps
                - art
          headers:
            ME-Pub-API-Metadata:
              description: Will return paging metadata if requested
              schema:
                $ref: '#/components/schemas/ResponseMetadata'
      parameters:
      - name: ME-Pub-API-Metadata
        in: header
        description: This endpoint supports paging metadata
        required: false
        deprecated: false
        schema:
          $ref: '#/components/schemas/RequestMetadata'
      - name: offset
        in: query
        description: The number of items to skip, default 0, min 0
        required: false
        deprecated: false
        schema:
          type: integer
      - name: limit
        in: query
        description: The numbers of items to return, default 200, min 1, max 500
        required: false
        deprecated: false
        schema:
          type: integer
      tags:
      - Collections
    servers:
    - url: https://api-mainnet.magiceden.dev/v4/evm-public
  /collections/user-collections:
    post:
      summary: User Collections
      operationId: getUserCollections
      description: Use this API to explore a user's collections metadata and statistics (sales, volume, etc).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getUserCollectionsRequest'
      tags:
      - Collections
      responses:
        '200':
          description: Successful
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/getUserCollectionsResponse'
      x-order: 2
    servers:
    - url: https://api-mainnet.magiceden.dev/v4/evm-public
  /collections/search:
    post:
      summary: Search Collections
      operationId: searchCollections
      description: Use this API to do a fuzzy collection search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/searchCollectionsRequest'
      tags:
      - Collections
      responses:
        '200':
          description: Successful
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/searchCollectionsResponse'
    servers:
    - url: https://api-mainnet.magiceden.dev/v4/evm-public
  /v2/ord/btc/stat:
    get:
      tags:
      - Collections
      summary: Get collection stats
      description: Get collection stats
      parameters:
      - name: collectionSymbol
        in: query
        description: Collection symbol
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionStatSchema'
    servers:
    - url: https://api-mainnet.magiceden.dev/v2
  /v2/ord/btc/collections/{symbol}:
    get:
      tags:
      - Collections
      summary: Get collection
      description: Get collection
      operationId: getCollection
      parameters:
      - name: symbol
        in: path
        description: Collection symbol
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionSchema'
    servers:
    - url: https://api-mainnet.magiceden.dev/v2
  /collection_stats/search/bitcoin:
    servers:
    - url: https://stats-mainnet.magiceden.dev
    get:
      tags:
      - Collections
      summary: Get collection statistics
      description: Get collection statistics
      operationId: getCollectionStats
      parameters:
      - name: window
        in: query
        description: Time window
        required: false
        schema:
          type: string
          enum:
          - 10m
          - 1h
          - 6h
          - 1d
          - 7d
          - 30d
          default: 1d
      - name: sort
        in: query
        description: Sort by
        required: false
        schema:
          type: string
          enum:
          - volume
          - volumePercentageChange
          - totalVolume
          - sales
          - salesPercentageChange
          - totalSales
          - floorPrice
          - floorPricePercentageChange
          - topOffer
          - listedOverSupply
          - ownerPercentage
          - pending
          - marketCap
          default: volume
      - name: direction
        in: query
        description: Sort direction
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: offset
        in: query
        description: Offset
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 0
      - name: limit
        in: query
        description: Limit
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      responses:
        '200':
          description: Successful response
  /collections/{collectionSymbol}/attributes:
    get:
      deprecated: false
      summary: Get attributes of a collection
      security: []
      responses:
        '200':
          description: success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionAttributes'
        '400':
          description: Invalid symbol
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Collection not found
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: collectionSymbol
        in: path
        description: collection symbol
        required: true
        deprecated: false
        schema:
          type: string
      tags:
      - Collections
    servers:
    - url: https://api-mainnet.magiceden.dev/v2
    - url: https://api-devnet.magiceden.dev/v2
  /collections/{symbol}/activities:
    get:
      deprecated: false
      summary: Get activities of a collection
      security: []
      responses:
        '200':
          description: success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwaggerFriendlyIActivityV2'
              example:
              - signature: ntGRVYH31VtYYatGmax4evUAdEejh2bHRCUR9Fwe1mjMQYDVBngbxRf3ATDwUyeKoMwJD7SA6sEDQYj4T34qufo
                type: list
                source: magiceden_v2
                tokenMint: Hn35U1k6N8ZJ4ToAKxJvwwb5iyoNb6crxChK186AtRp5
                collection: magicticket
                collectionSymbol: magicticket
                slot: 139232690
                blockTime: 1656332000
                buyer: null
                buyerReferral: ''
                seller: JB9knFr8FkiT5vRf3U2UKTdyWnkotG2MYmBnR1HuhLXv
                sellerReferral: ''
                price: 5.1
              - signature: 3aaYEqfiJmwuQ7cSDQtiQs8iCqTsVLjrNR5fNzH82aLZpH2n7PsfUKv4peZyjJd1NgysV2qhCouA1woranzeArmD
                type: list
                source: magiceden_v2
                tokenMint: 2DXPYVMF2Urc11Pi5UGsZPBqYqBb1vNYy71TpuMBFXTd
                collection: magicticket
                collectionSymbol: magicticket
                slot: 139232688
                blockTime: 1656331999
                buyer: null
                buyerReferral: ''
                seller: JB9knFr8FkiT5vRf3U2UKTdyWnkotG2MYmBnR1HuhLXv
                sellerReferral: ''
                price: 5.05
        '400':
          description: Invalid symbol
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: symbol
        in: path
        description: collection symbol
        required: true
        deprecated: false
        schema:
          type: string
        example: btest
      - name: offset
        in: query
        description: The number of items to skip, default 0, min 0
        required: false
        deprecated: false
        schema:
          type: integer
      - name: limit
        in: query
        description: The numbers of items to return, default 100, min 1, max 1000
        required: false
        deprecated: false
        schema:
          type: integer
      tags:
      - Collections
    servers:
    - url: https://api-mainnet.magiceden.dev/v2
    - url: https://api-devnet.magiceden.dev/v2
  /collections/{symbol}/holder_stats:
    get:
      deprecated: false
      summary: Get holder stats of a collection
      security: []
      responses:
        '200':
          description: success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwaggerFriendlyICollectionHolderStatsV2'
              example:
                symbol: magicticket
                totalSupply: 30662
                uniqueHolders: 19989
                tokenHistogram:
                  bars:
                  - l_val: 1
                    hight: 17625
                  - l_val: 2
                    hight: 2023
                  - l_val: 6
                    hight: 276
                  - l_val: 25
                    hight: 34
                  - l_val: 50
                    hight: 32
                topHolders:
                - tokens: 491
                  owner: 74Vzf7H6F4fYtyUDAPsUyRLpKFgA95PC3Hxv6HDMzZkB
                  ownerDisplay:
                    sol: testName
                - tokens: 375
                  owner: ApLq7vqXswhpecF85MNhY2Zoj3sTbuLXpUgiY3wmwacj
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 319
                  owner: 3D3jTdYc1QwT4PgHqFMhFgTWpBiHVvQGC8r154cnF65L
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 295
                  owner: pikbd74fyjELkW8Xt9aeDf6oQZbKsdwqmSsxR3eJEzH
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 199
                  owner: DPhBRMQJyCRKPrbY7Yi7J3u61KNkecSB17FytSuvu1VV
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 174
                  owner: 6HL9R6k3jy6vr2ELycBWv3HcUcVfpEv1ZKfLvkfcZSkX
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 156
                  owner: GJvu3coUrkqTGMomAKmNdRqKaEaZrhLss3KUFpdcsr6F
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 134
                  owner: 5k5P9oEkeSbLa2NvXtHWhdLSRkz8zctSYoMrpdHQso24
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 111
                  owner: BruKPymvNxe8tyAZ24qV4WX1LhZ3DkuA7tAa8wNpEbbN
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 107
                  owner: 9fzxydhgTTPgfmkhZLkrESXnj2GYB4h89YqX3RiAQvdZ
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 98
                  owner: 4FbCC89pNRcX3t4kTXuiKXW6LrMTCZNVsyfHiUrEvn5R
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 96
                  owner: B8T5kw3VzpryjigyTkxce7jshSAC8TXBWD1kYMW62Cwx
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 92
                  owner: 9L7bB2baDcRsyxgj1tUbyL1cmXp7KsAKgYArWdfBxZJm
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 87
                  owner: GdMZBAhi181dduNCPDqLb7GLcpyBqvKHPixRZiTj7iKW
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 86
                  owner: 6aL8gF1dCCZiyeuqjzqHozJGNTp7KVjogjWUdMrTxm29
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 85
                  owner: HwuBTkReWdd9Ceoud52NCfhyBsGhPiFDnox7jgES7M3o
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 85
                  owner: AAoaMhv9vxGZhp4AZvxuza2FZJJNtEgWp3bm2aqkgPJ1
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 82
                  owner: 4HVo14THtjrENSsibnUCZFTgMzmsA5d5XTNG1a2Ae5FQ
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 77
                  owner: 8ZWy2E1uMEngWt68TR6xgnSKu441wb2c5xWRptF4bZdg
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 74
                  owner: Aok6SNAqmqy2Hhod9VD4jY9VXUVaaiTBBPF3nHT6V79U
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 71
                  owner: 3S4WYxbPnzzFhwvtL3jejTsFhhupvdyx1FH699E7aZ5e
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 70
                  owner: 2TMzcRk2d6V8aqjKSRVuwtBfkP4i3si6MHDG8YpEn6qG
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 66
                  owner: GHAEXyW1zZnk8ignwryaRnUA2czkTp1kYZPCcYmMQCQB
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 63
                  owner: 9oVgU4qyN7kVNJPA43vkSXdYwEeQdCRpXwbCv47Nf93C
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 59
                  owner: EgqTxbFfcbPMcoUyBcfBDfxcRSsm9s3qSpX3CtNJkAJT
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 58
                  owner: C45tbZRx36qbRWAQuifrocVg3XeyEALrsegqrT4wbE2f
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 57
                  owner: CToMigeH6Nu8sD7y9YDD1U8dedpF6bBKTCxzCj335r12
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 56
                  owner: Dduv1mpbKDvroYnaVDm3HQq9X8rtqxsJ1a4qPVDTC1kY
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 55
                  owner: FYu1XyfhaQQvuWGbf2xmBmjrQpzNgVwHhAhi9Kaz73P1
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 53
                  owner: CmvNNpdGVDGujBadaMmgKc8xgFfyV6G9PNEjD8zEND6L
                  ownerDisplay:
                    sol: sns-display-name
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: symbol
        in: path
        description: collection symbol
        required: true
        deprecated: false
        schema:
          type: string
      tags:
      - Collections
    servers:
    - url: https://api-mainnet.magiceden.dev/v2
    - url: https://api-devnet.magiceden.dev/v2
  /collections/{symbol}/leaderboard:
    get:
      deprecated: false
      summary: Get wallets rank sorted by volume for one collection
      security: []
      responses:
        '200':
          description: success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwaggerFriendlyICollectionHolderStatsV2'
              example:
                symbol: magicticket
                totalSupply: 30662
                uniqueHolders: 19989
                tokenHistogram:
                  bars:
                  - l_val: 1
                    hight: 17625
                  - l_val: 2
                    hight: 2023
                  - l_val: 6
                    hight: 276
                  - l_val: 25
                    hight: 34
                  - l_val: 50
                    hight: 32
                topHolders:
                - tokens: 491
                  owner: 74Vzf7H6F4fYtyUDAPsUyRLpKFgA95PC3Hxv6HDMzZkB
                  ownerDisplay:
                    sol: testName
                - tokens: 375
                  owner: ApLq7vqXswhpecF85MNhY2Zoj3sTbuLXpUgiY3wmwacj
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 319
                  owner: 3D3jTdYc1QwT4PgHqFMhFgTWpBiHVvQGC8r154cnF65L
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 295
                  owner: pikbd74fyjELkW8Xt9aeDf6oQZbKsdwqmSsxR3eJEzH
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 199
                  owner: DPhBRMQJyCRKPrbY7Yi7J3u61KNkecSB17FytSuvu1VV
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 174
                  owner: 6HL9R6k3jy6vr2ELycBWv3HcUcVfpEv1ZKfLvkfcZSkX
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 156
                  owner: GJvu3coUrkqTGMomAKmNdRqKaEaZrhLss3KUFpdcsr6F
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 134
                  owner: 5k5P9oEkeSbLa2NvXtHWhdLSRkz8zctSYoMrpdHQso24
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 111
                  owner: BruKPymvNxe8tyAZ24qV4WX1LhZ3DkuA7tAa8wNpEbbN
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 107
                  owner: 9fzxydhgTTPgfmkhZLkrESXnj2GYB4h89YqX3RiAQvdZ
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 98
                  owner: 4FbCC89pNRcX3t4kTXuiKXW6LrMTCZNVsyfHiUrEvn5R
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 96
                  owner: B8T5kw3VzpryjigyTkxce7jshSAC8TXBWD1kYMW62Cwx
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 92
                  owner: 9L7bB2baDcRsyxgj1tUbyL1cmXp7KsAKgYArWdfBxZJm
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 87
                  owner: GdMZBAhi181dduNCPDqLb7GLcpyBqvKHPixRZiTj7iKW
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 86
                  owner: 6aL8gF1dCCZiyeuqjzqHozJGNTp7KVjogjWUdMrTxm29
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 85
                  owner: HwuBTkReWdd9Ceoud52NCfhyBsGhPiFDnox7jgES7M3o
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 85
                  owner: AAoaMhv9vxGZhp4AZvxuza2FZJJNtEgWp3bm2aqkgPJ1
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 82
                  owner: 4HVo14THtjrENSsibnUCZFTgMzmsA5d5XTNG1a2Ae5FQ
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 77
                  owner: 8ZWy2E1uMEngWt68TR6xgnSKu441wb2c5xWRptF4bZdg
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 74
                  owner: Aok6SNAqmqy2Hhod9VD4jY9VXUVaaiTBBPF3nHT6V79U
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 71
                  owner: 3S4WYxbPnzzFhwvtL3jejTsFhhupvdyx1FH699E7aZ5e
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 70
                  owner: 2TMzcRk2d6V8aqjKSRVuwtBfkP4i3si6MHDG8YpEn6qG
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 66
                  owner: GHAEXyW1zZnk8ignwryaRnUA2czkTp1kYZPCcYmMQCQB
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 63
                  owner: 9oVgU4qyN7kVNJPA43vkSXdYwEeQdCRpXwbCv47Nf93C
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 59
                  owner: EgqTxbFfcbPMcoUyBcfBDfxcRSsm9s3qSpX3CtNJkAJT
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 58
                  owner: C45tbZRx36qbRWAQuifrocVg3XeyEALrsegqrT4wbE2f
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 57
                  owner: CToMigeH6Nu8sD7y9YDD1U8dedpF6bBKTCxzCj335r12
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 56
                  owner: Dduv1mpbKDvroYnaVDm3HQq9X8rtqxsJ1a4qPVDTC1kY
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 55
                  owner: FYu1XyfhaQQvuWGbf2xmBmjrQpzNgVwHhAhi9Kaz73P1
                  ownerDisplay:
                    sol: sns-display-name
                - tokens: 53
                  owner: CmvNNpdGVDGujBadaMmgKc8xgFfyV6G9PNEjD8zEND6L
                  ownerDisplay:
                    sol: sns-display-name
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: symbol
        in: path
        description: collection symbol
        required: true
        deprecated: false
        schema:
          type: string
      - name: limit
        in: query
        description: The numbers of items to return, default 100, min 1, max 100
        required: false
        deprecated: false
        schema:
          type: integer
      tags:
      - Collections
    servers:
    - url: https://api-mainnet.magiceden.dev/v2
    - url: https://api-devnet.magiceden.dev/v2
  /collections/{symbol}/listings:
    get:
      deprecated: false
      summary: Get listings of a collection
      security: []
      responses:
        '200':
          description: success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwaggerFriendlyIListingV2'
              example:
              - pdaAddress: DH4GmB44wrCHp1GnhWLFbBd4bsjSM6WyjZiY5s8TM2QW
                auctionHouse: E8cU1WiRWjanGxmn96ewBgk9vPTcL6AEZ1t6F6fkgUWe
                tokenAddress: J61sq4dZidoX27mFo3QNoCNo3Zh4Jnqfwg7udo5Nr81a
                tokenMint: HqRZKSAWHig98928x6jezNxUUmwY8VrHn1WF6NzeVU27
                seller: EMs8aMgETr2CnZtKihiH1xLa3mtGe7cN3nFkBKSWfp6P
                sellerReferral: autMW8SgBkVYeBgqYiTuJZnkvDZMVU2MHJh9Jh7CSQ2
                tokenSize: 1
                price: 2.87
                rarity: {}
                extra:
                  img: https://bafybeihr7vi77syiup5o4avvzemhlp4v4nplpc23haderjcjkkzgah2a5u.ipfs.dweb.link/0.gif?ext=gif
                expiry: -1
                token:
                  mintAddress: G5pULE3aTgGaVuFmABiYHsFrZqmZmjBKA3nMsQoKbnjb
                  owner: udQA9PjJA9vUMKEpeDUYUD6y84ZRaphRf1tWTCng8SM
                  supply: 1
                  collection: magicticket
                  name: 'Magic Ticket: OG #7354'
                  updateAuthority: 2PB2jBx5Trwxcv3Cn3yzw8acc6kdZDHABkp6QbsFraya
                  primarySaleHappened: true
                  sellerFeeBasisPoints: 500
                  image: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.gif?ext=gif
                  animationUrl: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.mp4
                  externalUrl: https://magiceden.io
                  attributes:
                  - trait_type: Level
                    value: 3
                  - trait_type: Tier
                    value: OG
                  properties:
                    category: video
                    files:
                    - uri: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.mp4?ext=mp4
                      type: video/mp4
                    - uri: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.gif?ext=gif
                      type: image/png
                    creators:
                    - address: RRUMF9KYPcvNSmnicNMAFKx5wDYix3wjNa6bA7R6xqA
                      share: 95
                    - address: mdaoMkGbmV2udu6wpzv4LhQ6fwcHudP4whu1r1k2Jac
                      share: 5
                listingSource: M2
              - pdaAddress: CLAUb44eYwX6kWmydJDSxfuZCzFACCQfefzMzuApvrhv
                auctionHouse: E8cU1WiRWjanGxmn96ewBgk9vPTcL6AEZ1t6F6fkgUWe
                tokenAddress: 86LEHMJs63wjWZ9Z1ZbJx47vAptsDo88SG7F4BSNvwD6
                tokenMint: 5qiToEtKs4uf2CAxYxCM7RQXqbKK9Hd8XEe9XR7k2jG8
                seller: DD7QCur1hMdq8DEESwuAKviCpXmesXUpMDx54AXXHLLH
                sellerReferral: autMW8SgBkVYeBgqYiTuJZnkvDZMVU2MHJh9Jh7CSQ2
                tokenSize: 1
                price: 9
                rarity: {}
                extra:
                  img: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.gif?ext=gif
                expiry: -1
                token:
                  mintAddress: EU6muWpunxdVqA1QPYrSGn6kJEojWimWkBDTmY3bvFtM
                  owner: ABpA7SJJURVo4g3U7cVLA17JLT7NHn1R8Q7RmMKcApEF
                  supply: 1
                  collection: magicticket
                  name: 'Magic Ticket: OG #618'
                  updateAuthority: 2PB2jBx5Trwxcv3Cn3yzw8acc6kdZDHABkp6QbsFraya
                  primarySaleHappened: true
                  sellerFeeBasisPoints: 500
                  image: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.gif?ext=gif
                  animationUrl: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.mp4
                  externalUrl: https://magiceden.io
                  attributes:
                  - trait_type: Level
                    value: 3
                  - trait_type: Tier
                    value: OG
                  properties:
                    category: video
                    files:
                    - uri: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.mp4?ext=mp4
                      type: video/mp4
                    - uri: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.gif?ext=gif
                      type: image/png
                    creators:
                    - address: RRUMF9KYPcvNSmnicNMAFKx5wDYix3wjNa6bA7R6xqA
                      share: 95
                    - address: mdaoMkGbmV2udu6wpzv4LhQ6fwcHudP4whu1r1k2Jac
                      share: 5
                listingSource: M2
        '400':
          description: Invalid symbol
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: symbol
        in: path
        description: collection symbol
        required: true
        deprecated: false
        schema:
          type: string
        example: btest
      - name: offset
        in: query
        description: The number of items to skip, default 0, min 0
        required: false
        deprecated: false
        schema:
          type: integer
      - name: limit
        in: query
        description: The numbers of items to return, default 20, min 1, max 100
        required: false
        deprecated: false
        schema:
          type: integer
      - name: min_price
        in: query
        description: Filter listings that are less than this price
        required: false
        deprecated: false
        schema:
          type: number
      - name: max_price
        in: query
        description: Filter listings that are more than this price
        required: false
        deprecated: false
        schema:
          type: number
      - name: attributes
        in: query
        description: 'Represents a filtering mechanism where the elements within each inner array are logically ORed, and the resulting arrays are ANDed together at the top level. Each inner array consists of objects with two properties: traitType (a string) and value (a string). For example: [[{"traitType":"trait1", "value":"value1"},{"traitType":"trait1", "value":"value2"}]] would return listings that have "value1" OR "value2" for "trait1".'
        required: false
        deprecated: false
        schema:
          $ref: '#/components/schemas/SwaggerNftAttributeSchema'
      - name: sort
        in: query
        description: The field to sort the listings, default 'listPrice'
        required: false
        deprecated: false
        schema:
          $ref: '#/components/schemas/ListingSortOptions'
      - name: listingAggMode
        in: query
        description: True to return aggregated marketplace listings, false to return just Magic Eden listings.
        required: false
        deprecated: false
        schema:
          type: boolean
      - name: sort_direction
        in: query
        description: The direction returned elements should be sorted in, default 'asc'
        required: false
        deprecated: false
        schema:
          $ref: '#/components/schemas/SortDirQuery'
      - name: paymentMints
        in: query
        description: Filter listings by the payment mint address that the seller expects. Default to filter for listings that only accept native SOL. Use "ALL" to show all listings.
        required: false
        deprecated: false
        schema:
          type: array
          items:
            type: string
      tags:
      - Collections
    servers:
    - url: https://api-mainnet.magiceden.dev/v2
    - url: https://api-devnet.magiceden.dev/v2
  /collections/{symbol}/stats:
    get:
      deprecated: false
      summary: Get stats of a collection
      security: []
      responses:
        '200':
          description: success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionStats'
              example:
                symbol: magicticket
                floorPrice: 2850000000
                listedCount: 877
                avgPrice24hr: 3009962636.8159204
                volumeAll: 76113329022113
        '400':
          description: Invalid symbol
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Collection not found
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: symbol
        in: path
        description: collection symbol
        required: true
        deprecated: false
        schema:
          type: string
      - name: timeWindow
        in: query
        description: Time window for stats, default all. '24h', '7d', '30d', 'all'
        required: false
        deprecated: false
        schema:
          type: string
      - name: listingAggMode
        in: query
        description: True to return aggregated marketplace listings, false to return just Magic Eden listings. Defaults to false.
        required: false
        deprecated: false
        schema:
          type: boolean
      tags:
      - Collections
    servers:
    - url: https://api-mainnet.magiceden.dev/v2
    - url: https://api-devnet.magiceden.dev/v2
  /collections/batch/listings:
    post:
      deprecated: false
      summary: Get batch listings of a collection
      security: []
      responses:
        '200':
          description: success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BatchListings'
              example:
              - pdaAddress: DH4GmB44wrCHp1GnhWLFbBd4bsjSM6WyjZiY5s8TM2QW
                auctionHouse: E8cU1WiRWjanGxmn96ewBgk9vPTcL6AEZ1t6F6fkgUWe
                tokenAddress: J61sq4dZidoX27mFo3QNoCNo3Zh4Jnqfwg7udo5Nr81a
                tokenMint: HqRZKSAWHig98928x6jezNxUUmwY8VrHn1WF6NzeVU27
                seller: EMs8aMgETr2CnZtKihiH1xLa3mtGe7cN3nFkBKSWfp6P
                sellerReferral: autMW8SgBkVYeBgqYiTuJZnkvDZMVU2MHJh9Jh7CSQ2
                tokenSize: 1
                price: 2.87
                rarity: {}
                extra:
                  img: https://bafybeihr7vi77syiup5o4avvzemhlp4v4nplpc23haderjcjkkzgah2a5u.ipfs.dweb.link/0.gif?ext=gif
                expiry: -1
                token:
                  mintAddress: G5pULE3aTgGaVuFmABiYHsFrZqmZmjBKA3nMsQoKbnjb
                  owner: udQA9PjJA9vUMKEpeDUYUD6y84ZRaphRf1tWTCng8SM
                  supply: 1
                  collection: magicticket
                  name: 'Magic Ticket: OG #7354'
                  updateAuthority: 2PB2jBx5Trwxcv3Cn3yzw8acc6kdZDHABkp6QbsFraya
                  primarySaleHappened: true
                  sellerFeeBasisPoints: 500
                  image: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.gif?ext=gif
                  animationUrl: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.mp4
                  externalUrl: https://magiceden.io
                  attributes:
                  - trait_type: Level
                    value: 3
                  - trait_type: Tier
                    value: OG
                  properties:
                    category: video
                    files:
                    - uri: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.mp4?ext=mp4
                      type: video/mp4
                    - uri: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.gif?ext=gif
                      type: image/png
                    creators:
                    - address: RRUMF9KYPcvNSmnicNMAFKx5wDYix3wjNa6bA7R6xqA
                      share: 95
                    - address: mdaoMkGbmV2udu6wpzv4LhQ6fwcHudP4whu1r1k2Jac
                      share: 5
                listingSource: M2
              - pdaAddress: CLAUb44eYwX6kWmydJDSxfuZCzFACCQfefzMzuApvrhv
                auctionHouse: E8cU1WiRWjanGxmn96ewBgk9vPTcL6AEZ1t6F6fkgUWe
                tokenAddress: 86LEHMJs63wjWZ9Z1ZbJx47vAptsDo88SG7F4BSNvwD6
                tokenMint: 5qiToEtKs4uf2CAxYxCM7RQXqbKK9Hd8XEe9XR7k2jG8
                seller: DD7QCur1hMdq8DEESwuAKviCpXmesXUpMDx54AXXHLLH
                sellerReferral: autMW8SgBkVYeBgqYiTuJZnkvDZMVU2MHJh9Jh7CSQ2
                tokenSize: 1
                price: 9
                rarity: {}
                extra:
                  img: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.gif?ext=gif
                expiry: -1
                token:
                  mintAddress: EU6muWpunxdVqA1QPYrSGn6kJEojWimWkBDTmY3bvFtM
                  owner: ABpA7SJJURVo4g3U7cVLA17JLT7NHn1R8Q7RmMKcApEF
                  supply: 1
                  collection: magicticket
                  name: 'Magic Ticket: OG #618'
                  updateAuthority: 2PB2jBx5Trwxcv3Cn3yzw8acc6kdZDHABkp6QbsFraya
                  primarySaleHappened: true
                  sellerFeeBasisPoints: 500
                  image: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.gif?ext=gif
                  animationUrl: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.mp4
                  externalUrl: https://magiceden.io
                  attributes:
                  - trait_type: Level
                    value: 3
                  - trait_type: Tier
                    value: OG
                  properties:
                    category: video
                    files:
                    - uri: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.mp4?ext=mp4
                      type: video/mp4
                    - uri: https://bafybeihlkgqlslyayv3u5c6ix4tuis27jp6mrapyfqjosgwaqb7prickbi.ipfs.dweb.link/0.gif?ext=gif
                      type: image/png
                    creators:
                    - address: RRUMF9KYPcvNSmnicNMAFKx5wDYix3wjNa6bA7R6xqA
                      share: 95
                    - address: mdaoMkGbmV2udu6wpzv4LhQ6fwcHudP4whu1r1k2Jac
                      share: 5
                listingSource: M2
        '400':
          description: Invalid symbol
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: offset
        in: query
        description: The number of items to skip, default 0, min 0
        required: false
        deprecated: false
        schema:
          type: integer
      - name: limit
        in: query
        description: The numbers of items to return, default 20, min 1, max 100
        required: false
        deprecated: false
        schema:
          type: integer
      - name: min_price
        in: query
        description: Filter listings that are less than this price
        required: false
        deprecated: false
        schema:
          type: number
      - name: max_price
        in: query
        description: Filter listings that are more than this price
        required: false
        deprecated: false
        schema:
          type: number
      - name: attributes
        in: query
        description: 'Represents a filtering mechanism where the elements within each inner array are logically ORed, and the resulting arrays are ANDed together at the top level. Each inner array consists of objects with two properties: traitType (a string) and value (a string). For example: [[{"traitType":"trait1", "value":"value1"},{"traitType":"trait1", "value":"value2"}]] would return listings that have "value1" OR "value2" for "trait1".'
        required: false
        deprecated: false
        schema:
          $ref: '#/components/schemas/SwaggerNftAttributeSchema'
      - name: sort
        in: query
        description: The field to sort the listings, default 'listPrice'
        required: false
        deprecated: false
        schema:
          $ref: '#/components/schemas/ListingSortOptions'
      - name: sort_direction
        in: query
        description: The direction returned elements should be sorted in, default 'asc'
        required: false
        deprecated: false
        schema:
          $ref: '#/components/schemas/SortDirQuery'
      - name: listingAggMode
        in: query
        description: True to return aggregated marketplace listings, false to return just Magic Eden listings.
        required: false
        deprecated: false
        schema:
          type: boolean
      tags:
      - Collections
    servers:
    - url: https://api-mainnet.magiceden.dev/v2
    - url: https://api-devnet.magiceden.dev/v2
components:
  schemas:
    collectionRoyalty:
      type: object
      properties:
        recipient:
          type: string
        bps:
          type: number
          maximum: 10000
          minimum: 0
        isOptional:
          type: boolean
      required:
      - recipient
      - bps
      - isOptional
    collectionTransferabilityEnum:
      type: string
      enum:
      - TRANSFERABLE_TRADABLE
      - TRANSFERABLE_NOT_TRADABLE
      - NOT_TRANSFERABLE_NOT_TRADABLE
      - NOT_TRANSFERABLE_TRADABLE
    chainEnum:
      type: string
      enum:
      - ethereum
      - abstract
      - apechain
      - arbitrum
      - base
      - berachain
      - bsc
      - polygon
      - sei
      - avalanche
      - monad
    searchCollectionsRequest:
      type: object
      properties:
        chain:
          $ref: '#/components/schemas/chainEnum'
        pattern:
          type: string
          description: Any name pattern you want to search for collections. Only first 50 collection matched will be returned
      required:
      - chain
      - pattern
    getCollectionsById:
      type: object
      properties:
        collectionIds:
          description: 'List of collection IDs to retrieve. example: `0xbd3531da5cf5857e7cfaa92426877b022e612cf8` '
          type: array
          items:
            type: string
          maxItems: 100
      required:
      - collectionIds
    getUserCollectionsResponse:
      type: object
      properties:
        collections:
          type: array
          items:
            $ref: '#/components/schemas/userCollectionSchema'
      required:
      - collections
    media:
      type: object
      properties:
        url:
          type: string
        mimeType:
          type: string
    chainAsset:
      type: object
      properties:
        chain:
          $ref: '#/components/schemas/chainEnum'
        assetId:
          type: string
      required:
      - chain
      - assetId
    getCollectionsBySlugs:
      type: object
      properties:
        collectionSlugs:
          description: 'List of collection Slugs to retrieve. example: `pudgypenguins` '
          type: array
          items:
            type: string
          maxItems: 100
      required:
      - collectionSlugs
    getCollectionsRequest:
      type: object
      properties:
        chain:
          $ref: '#/components/schemas/chainEnum'
        includeMintConfig:
          type: boolean
          description: Whether to include mint configuration.
        includeOwnerAddress:
          type: boolean
          description: Whether to include owner address.
      oneOf:
      - $ref: '#/components/schemas/getCollectionsById'
      - $ref: '#/components/schemas/getCollectionsBySlugs'
      required:
      - chain
    collectionTypeEnum:
      type: string
      enum:
      - ERC721
      - ERC1155
    searchCollectionsResponse:
      type: object
      properties:
        collections:
          type: array
          items:
            $ref: '#/components/schemas/collectionSchema'
      required:
      - collections
    getCollectionsResponse:
      type: object
      properties:
        collections:
          type: array
          items:
            $ref: '#/components/schemas/collectionSchema'
      required:
      - collections
    getUserCollectionsRequest:
      type: object
      properties:
        chain:
          $ref: '#/components/schemas/chainEnum'
        walletAddresses:
          description: 'a list of user wallet address to query collection stats from. example: `0x47d88afbba889709abba07339ed1c88079944ca3` '
          type: array
          maxItems: 100
          items:
            type: string
      required:
      - walletAddresses
    collectionVerificationEnum:
      type: string
      enum:
      - VERIFIED
      - UNVERIFIED
    collectionMintStageKindEnum:
      type: string
      enum:
      - public
      - allowlist
    collectionMintStage:
      type: object
      properties:
        kind:
          $ref: '#/components/schemas/collectionMintStageKindEnum'
        price:
          type: object
          properties:
            currency:
              $ref: '#/components/schemas/chainAsset'
            raw:
              type: string
          required:
          - currency
          - raw
        startTime:
          type: string
        endTime:
          type: string
        walletLimit:
          type: number
          minimum: 0
          maximum: 1000
        maxSupply:
          type: number
          minimum: 1
      required:
      - kind
      - price
    social:
      type: object
      properties:
        twitterUsername:
          type: string
        discordUrl:
          type: string
        websiteUrl:
          type: string
    userCollectionSchema:
      allOf:
      - $ref: '#/components/schemas/collectionSchema'
      - type: object
        properties:
          ownedCount:
            type: number
            minimum: 0
          listedCount:
            type: number
            minimum: 0
        required:
        - ownedCount
        - listedCount
    listingCurrency:
      type: object
      properties:
        address:
          type: string
        name:
          type: string
        symbol:
          type: string
        decimals:
          type: number
      required:
      - address
      - name
      - symbol
      - decimals
    collectionSchema:
      type: object
      properties:
        chain:
          $ref: '#/components/schemas/chainEnum'
        id:
          type: string
        name:
          type: string
        symbol:
          type: string
          description: i.e. collection slug
        description:
          type: string
        media:
          $ref: '#/components/schemas/media'
        social:
          $ref: '#/components/schemas/social'
        verification:
          $ref: '#/components/schemas/collectionVerificationEnum'
        isTradeable:
          type: boolean
        royalty:
          $ref: '#/components/schemas/collectionRoyalty'
        collectionType:
          $ref: '#/components/schemas/collectionTypeEnum'
        isSeaportV16Disabled:
          type: boolean
        isSeaportV16RoyaltyOptional:
          type: boolean
        seaportV16ListingCurrencies:
          type: array
          items:
            $ref: '#/components/schemas/listingCurrency'
        chainData:
          type: object
          properties:
            contract:
              type: string
            transferability:
              $ref: '#/components/schemas/collectionTransferabilityEnum'
            collectionBidSupported:
              type: boolean
            contractDeployedAt:
              type: string
            isMinting:
              type: boolean
            owner:
              type: string
            mintConfig:
              type: object
              properties:
                maxSupply:
                  type: string
                totalSupply:
                  type: string
                walletLimit:
                  type: string
                baseURI:
                  type: string
                contractURI:
                  type: string
                stages:
                  type: array
                  items:
                    $ref: '#/components/schemas/collectionMintStage'
                payoutRecipient:
                  type: string
                royaltyRecipient:
                  type: string
                royaltyBps:
                  type: string
                mintFee:
                  type: string
              required:
              - maxSupply
              - totalSupply
              - walletLimit
              - baseURI
              - contractURI
              - stages
              - payoutRecipient
              - royaltyRecipient
              - royaltyBps
          required:
          - contract
          - transferability
          - collectionBidSupported
          - isMinting
      required:
      - chain
      - id
      - name
      - verification
      - isTradeable
      - collectionType
    CollectionSchema:
      type: object
      properties:
        symbol:
          type: string
        name:
          type: string
        imageURI:
          type: string
        chain:
          type: string
        description:
          type: string
        supply:
          type: integer
        twitterLink:
          type: string
        discordLink:
          type: string
        websiteLink:
          type: string
        min_inscription_number:
          type: integer
        max_inscription_number:
          type: integer
        createdAt:
          type: string
    CollectionStatSchema:
      type: object
      properties:
        floorPrice:
          type: string
        inscriptionNumberMin:
          type: string
        inscriptionNumberMax:
          type: string
        owners:
          type: string
        pendingTransactions:
          type: string
        supply:
          type: string
        totalListed:
          type: string
        totalVolume:
          type: string
    SwaggerFriendlyIActivityV2:
      properties:
        type:
          type: string
        collection:
          type: string
          deprecated: true
        image:
          type: string
        price:
          type: number
          format: double
        tokenMint:
          type: string
        seller:
          type:
          - string
          - 'null'
        sellerReferral:
          type: string
        signature:
          type: string
        source:
          type: string
        collectionSymbol:
          type: string
        slot:
          type: number
          format: double
        blockTime:
          type: number
          format: double
        buyer:
          type:
          - string
          - 'null'
        buyerReferral:
          type: string
        priceInfo:
          $ref: '#/components/schemas/SwaggerFriendlyPriceInfo'
      required:
      - type
      - price
      - signature
      - source
      - slot
      - blockTime
      type: object
      additionalProperties: false
    MeInstantRarity:
      properties:
        rank:
          type: number
          format: double
      required:
      - rank
      type: object
      additionalProperties: false
    IAttributeV2:
      properties:
        trait_type:
          type: string
        value: {}
      required:
      - trait_type
      - value
      type: object
      additionalProperties: false
    SwaggerNftAttributeSchema:
      items:
        items:
          $ref: '#/components/schemas/SwaggerNftAttribute'
        type: array
      type: array
    CollectionAttributes:
      properties:
        results:
          $ref: '#/components/schemas/CollectionAttributesResults'
      required:
      - results
      type: object
      additionalProperties: false
    TokenStandard:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - -1
      type: number
    IExtraPublicInfo:
      properties:
        img:
          type: string
      type: object
      additionalProperties: false
    IPropertiesV2File:
      properties:
        uri:
          type: string
        type:
          type: string
        cdn:
          type: boolean
      required:
      - uri
      - type
      type: object
      additionalProperties: false
    PagingMetadata:
      properties:
        total:
          type: number
          format: double
        start:
          type: number
          format: double
        end:
          type: number
          format: double
      required:
      - total
      - start
      - end
      type: object
      additionalProperties: false
    ListedNftType:
      type: string
      enum:
      - M2
      - MMM
      - TENSOR_LISTING
      - TENSOR_CNFT_LISTING
      - TENSOR_MARKETPLACE_LISTING
      - TENSOR_AMM
      - TENSOR_AMM_V2
      - HADESWAP_AMM
      - M3
    NFTRarity:
      properties:
        howrare:
          properties:
            rank:
              type: number
              format: double
          required:
          - rank
          type: object
        moonrank:
          properties:
            crawl:
              $ref: '#/components/schemas/MoonrankCrawl'
            absolute_rarity:
              type: number
              format: double
            rank:
              type: number
              format: double
          required:
          - crawl
          - absolute_rarity
          - rank
          type: object
        merarity:
          $ref: '#/components/schemas/MeTokenRarity'
        meInstant:
          $ref: '#/components/schemas/MeInstantRarity'
      type: object
      additionalProperties: false
    SwaggerNftAttribute:
      properties:
        traitType:
          type: string
        value:
          type: string
      required:
      - traitType
      - value
      type: object
      additionalProperties: false
    IFloorPriceInfo:
      properties:
        floorPrice:
          type: number
          format: double
        floorListedNftType:
          $ref: '#/components/schemas/ListedNftType'
      required:
      - floorPrice
      - floorListedNftType
      type: object
      additionalProperties: false
    AvailableAttribute:
      properties:
        attribute:
          $ref: '#/components/schemas/IAttributeV2'
        count:
          type: number
          format: double
        floor:
          type: number
          format: double
        countByListingType:
          properties: {}
          additionalProperties:
            type: number
            format: double
          type: object
      required:
      - attribute
      - count
      - floor
      - countByListingType
      type: object
      additionalProperties: false
    ResponseMetadata:
      properties:
        paging:
          $ref: '#/components/schemas/PagingMetadata'
      type: object
      additionalProperties: false
    SwaggerFriendlyICollectionHolderStatsV2:
      properties:
        symbol:
          type: string
        tokenHistogram:
          properties:
            bars:
              items:
                properties:
                  r_val:
                    type: number
                    format: double
                  hight:
                    type: number
                    format: double
                  l_val:
                    type: number
                    format: double
                required:
                - hight
                - l_val
                type: object
              type: array
          type: object
        totalSupply:
          type: number
          format: double
        uniqueHolders:
          type: number
          format: double
        topHolders:
          items:
            $ref: '#/components/schemas/SwaggerFriendlyIIndividualHolderStats'
          type: array
      required:
      - symbol
      - tokenHistogram
      - topHolders
      type: object
      additionalProperties: false
    CollectionAttributesResults:
      properties:
        symbol:
          type: string
        availableAttributes:
          items:
            $ref: '#/components/schemas/AvailableAttribute'
          type: array
      required:
      - symbol
      - availableAttributes
      type: object
      additionalProperties: false
    MoonrankCrawl:
      properties:
        complete:
          type: boolean
          description: 'Flag for if Moonrank has fully crawled the collection. If this is false,

            then it means the rarity values are incomplete and should not be used.'
        id:
          type: string
      type: object
      additionalProperties: false
    SwaggerFriendlyPriceInfo:
      properties:
        solPrice:
          $ref: '#/components/schemas/SwaggerFriendlyTokenAmount'
        splPrice:
          $ref: '#/components/schemas/SwaggerFriendlyTokenAmount'
      required:
      - solPrice
      type: object
      additionalProperties: false
    SortDirQuery:
      type: string
      enum:
      - asc
      - desc
    SwaggerFriendlyTokenAmount:
      properties:
        rawAmount:
          type: string
        address:
          type: string
          description: The identifier of the amount.
        decimals:
          type: number
          format: double
          description: The number of decimals in the amount.
      required:
      - rawAmount
      - address
      - decimals
      type: object
      additionalProperties: false
    CollectionStats:
      properties:
        symbol:
          type: string
        floorPrice:
          type: number
          format: double
        listedCount:
          type: number
          format: double
        avgPrice24hr:
          type: number
          format: double
        volumeAll:
          type: number
          format: double
      required:
      - symbol
      type: object
      additionalProperties: false
    MeTokenRarity:
      properties:
        tokenKey:
          type: string
        score:
          type: number
          format: double
        rank:
          type: number
          format: double
        totalSupply:
          type: number
          format: double
        attributeWithCounts:
          items:
            $ref: '#/components/schemas/IXAttribute'
          type: array
      required:
      - tokenKey
      - score
      type: object
      additionalProperties: false
    ICollectionV2:
      properties:
        symbol:
          type: string
        name:
          type: string
        description:
          type: string
        image:
          type: string
        twitter:
          type: string
        discord:
          type: string
        website:
          type: string
        isFlagged:
          type: boolean
        flagMessage:
          type: string
        categories:
          items:
            type:
            - string
            - 'null'
          type: array
        floorPrice:
          type: number
          format: double
        listedCount:
          type: number
          format: double
        avgPrice24hr:
          type: number
          format: double
        volumeAll:
          type: number
          format: double
        isBadged:
          type: boolean
        hasCNFTs:
          type: boolean
        isOcp:
          type: boolean
        splTokens:
          items:
            type: string
          type: array
        floorPriceWithFee:
          $ref: '#/components/schemas/IFloorPriceInfo'
      required:
      - symbol
      - name
      - description
      - image
      type: object
      additionalProperties: false
    Partial_ICreatorV2_:
      properties:
        address:
          type: string
        verified:
          type: boolean
        share:
          type: number
          format: double
      type: object
      description: Make all properties in T optional
    SwaggerFriendlyIIndividualHolderStats:
      properties:
        owner:
          type: string
        tokens:
          type: number
          format: double
        avatarMintImg:
          type: string
        ownerDisplay:
          properties:
            sol:
              type: string
          required:
          - sol
          type: object
      required:
      - owner
      - tokens
      type: object
      additionalProperties: false
    BatchListings:
      properties:
        result:
          items:
            $ref: '#/components/schemas/SwaggerFriendlyIListingV2'
          type: array
        nextCursor:
          type: string
      required:
      - result
      - nextCursor
      type: object
      additionalProperties: false
    SwaggerFriendlyIListingV2:
      properties:
        price:
          type: number
          format: double
        tokenAddress:
          type: string
        pdaAddress:
          type: string
        auctionHouse:
          type: string
        tokenMint:
          type: string
        seller:
          type: string
        sellerReferral:
          type: string
        tokenSize:
          type: number
          format: double
        rarity:
          $ref: '#/components/schemas/NFTRarity'
        extra:
          $ref: '#/components/schemas/IExtraPublicInfo'
        expiry:
          type: number
          format: double
        listingSource:
          $ref: '#/components/schemas/ListedNftType'
        priceInfo:
          $ref: '#/components/schemas/SwaggerFriendlyPriceInfo'
        token:
          $ref: '#/components/schemas/SwaggerFriendlyITokenV2'
      required:
      - price
      - tokenAddress
      - pdaAddress
      - auctionHouse
      - tokenMint
      - seller
      - tokenSize
      - rarity
      - expiry
      - listingSource
      - token
      type: object
      additionalProperties: false
    IPropertiesV2:
      properties:
        files:
          items:
            $ref: '#/components/schemas/IPropertiesV2File'
          type: array
        category:
          type: string
        creators:
          items:
            $ref: '#/components/schemas/Partial_ICreatorV2_'
          type: array
      required:
      - files
      - category
      - creators
      type: object
      additionalProperties: false
    ListingSortOptions:
      type: string
      enum:
      - updatedAt
      - listPrice
    RequestMetadata:
      properties:
        paging:
          type: boolean
      type: object
      additionalProperties: false
    IXAttribute:
      properties:
        traitType:
          type: string
        value:
          type: string
        count:
          type: number
          format: double
        rarity:
          type: number
          format: double
        topBidValue:
          type: number
          format: double
        floorAskPrice:
          type: number
          format: double
        onSaleCount:
          type: number
          format: double
      required:
      - traitType
      - value
      type: object
      additionalProperties: false
    SwaggerFriendlyITokenV2:
      properties:
        mintAddress:
          type: string
        owner:
          type: string
        supply:
          type: number
          format: double
        delegate:
          type: string
        collection:
          type: string
        collectionName:
          type: string
        name:
          type: string
        updateAuthority:
          type: string
        primarySaleHappened:
          type: boolean
        sellerFeeBasisPoints:
          type: number
          format: double
        image:
          type: string
        tokenStandard:
          $ref: '#/components/schemas/TokenStandard'
        animationUrl:
          type: string
        externalUrl:
          type: string
        attributes:
          items:
            $ref: '#/components/schemas/IAttributeV2'
          type: array
        properties:
          $ref: '#/components/schemas/IPropertiesV2'
        listStatus:
          type: string
          enum:
          - listed
          - unlisted
        price:
          type: number
          format: double
        tokenAddress:
          type: string
        isCompressed:
          type: boolean
        priceInfo:
          $ref: '#/components/schemas/SwaggerFriendlyPriceInfo'
      required:
      - mintAddress
      - owner
      - supply
      - name
      - updateAuthority
      - primarySaleHappened
      - sellerFeeBasisPoints
      - image
      type: object
      additionalProperties: false
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    bearerAuth:
      bearerFormat: auth-scheme
      description: 'Bearer HTTP authentication. Allowed headers-- Authorization: Bearer <api_key>'
      scheme: bearer
      type: http
x-refined-from:
- magic-eden-evm-openapi.yml
- magic-eden-ordinals-openapi.yml
- magic-eden-solana-openapi.yml
