openapi: 3.2.0
info:
  title: Magic Eden Solana Magic Ticket API
  description: Aggregated Magic Eden Solana NFT marketplace API covering collections, tokens, wallets, instructions (buy/sell/bid), MMM AMM pools, launchpad, and marketplace endpoints.
  version: v2
  termsOfService: https://magiceden.io/terms-of-service.pdf
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api-mainnet.magiceden.dev/v2
- url: https://api-devnet.magiceden.dev/v2
tags:
- name: magic-ticket
paths:
  /instructions/magic_ticket/burns:
    get:
      deprecated: false
      summary: Construct and return burn txs for given mint addresses
      security:
      - bearerAuth: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: walletAddress
        in: query
        description: Wallet address that owns the tickets
        required: true
        deprecated: false
        schema:
          type: string
      - name: mintAddresses
        in: query
        description: Comma-separated list of mint addresses to burn
        required: true
        deprecated: false
        schema:
          type: string
      tags:
      - magic-ticket
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    bearerAuth:
      bearerFormat: auth-scheme
      description: 'Bearer HTTP authentication. Allowed headers-- Authorization: Bearer <api_key>'
      scheme: bearer
      type: http
