openapi: 3.2.0
info:
  title: Magic Eden Bitcoin Ordinals Blocks API
  description: Aggregated Magic Eden Bitcoin/Ordinals API covering ordinal collections, rare sats, runes (orders, swaps, sweeping, market sells), block activities, and wallet balances.
  version: v2
  termsOfService: https://magiceden.io/terms-of-service.pdf
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api-mainnet.magiceden.dev/v2
tags:
- name: Blocks
paths:
  /v2/ord/btc/block/activities:
    get:
      tags:
      - Blocks
      summary: Get block activities
      description: Get block activities
      parameters:
      - name: blockHeight
        in: query
        description: Block height
        required: true
        schema:
          type: integer
      - name: kind
        in: query
        description: Comma-separated list of activity kinds. Acceptable values are "create" and "transfer". If not specified, defaults to "create,transfer".
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limit
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 60
          default: 20
          multipleOf: 20
      - name: cursor
        in: query
        description: cursor
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BlockActivitySchema'
                  limit:
                    type: integer
                  nextCursor:
                    type: string
components:
  schemas:
    BlockActivitySchema:
      type: object
      properties:
        inscription:
          type: object
          properties:
            id:
              type: string
            contentType:
              type: string
            contentMedia:
              type: string
            contentLength:
              type:
              - number
              - 'null'
            number:
              type:
              - number
              - 'null'
            sat:
              type:
              - number
              - 'null'
            satName:
              type:
              - string
              - 'null'
            satRarity:
              type:
              - string
              - 'null'
            satBlockHeight:
              type:
              - number
              - 'null'
            satBlockTime:
              type:
              - string
              - 'null'
            genesisTransaction:
              type: string
            genesisTransactionBlockTime:
              type:
              - string
              - 'null'
            genesisTransactionBlockHeight:
              type:
              - number
              - 'null'
            genesisTransactionBlockHash:
              type:
              - string
              - 'null'
            parentInscriptionId:
              type:
              - string
              - 'null'
            metaprotocol:
              type:
              - string
              - 'null'
        activityType:
          type: string
        blockHeight:
          type: number
        blockHash:
          type: string
        txId:
          type: string
        location:
          type: string
        address:
          type: string
        output:
          type: string
        value:
          type: number
        offset:
          type: number
        timestamp:
          type: number
        oldLocation:
          type:
          - string
          - 'null'
        oldAddress:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
